@import url(variables.css);

/* 
loader 
*/

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--dark-gray);
  z-index: 999999;
  opacity: 1;
  transition: opacity ease .5s;
  -webkit-transition: opacity ease .5s;
  -moz-transition: opacity ease .5s;
  -ms-transition: opacity ease .5s;
  -o-transition: opacity ease .5s;
}
.loader__gif {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader__infinity {
  position: relative;
  width: 125px;
  height: 60px;
  animation: loaderAnimation linear 1s infinite;
  -webkit-animation: loaderAnimation linear 1s infinite;
}
.loader__infinity:before,
.loader__infinity:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  border: 15px solid var(--green);
  -moz-border-radius: 50px 50px 0 50px;
  border-radius: 50px 50px 0 50px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.loader__infinity:after {
  left: auto;
  right: 0;
  -moz-border-radius: 50px 50px 50px 0;
  border-radius: 50px 50px 50px 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
@keyframes loaderAnimation {
  from {
	transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-o-transform: rotate(0deg);
  }
  to {
	transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	-o-transform: rotate(360deg);
  }
}

.swiper {
	width: 100%;
	height: 180px;
	padding: 0 0 28px 0 !important;
}
.swiper-pagination-bullet-active{
	background-color: var(--green) !important;
}

h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  color: #363d47;
}
td > form{
  margin: 0;
}

h1 {
  font-size: calc(1.275rem + 0.3vw);
}
@media (min-width: 1200px) {
  h1 {
    font-size: 1.5rem;
  }
}

a {
  color: #0061f2;
  text-decoration: none;
}
a:hover {
  color: #004ec2;
  text-decoration: underline;
}

img,
svg {
  vertical-align: middle;
}

table {
  caption-side: bottom;
  border-collapse: collapse;
}

th {
  text-align: inherit;
  text-align: -webkit-match-parent;
}

thead,
tbody,
tr,
td,
th {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
}

button {
  border-radius: 0;
}

button:focus:not(:focus-visible) {
  outline: 0;
}

button,
select {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
select {
  text-transform: none;
}

select {
  word-wrap: normal;
}
select:disabled {
  opacity: 1;
}

button {
  -webkit-appearance: button;
}
button:not(:disabled),
[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled) {
  cursor: pointer;
}

::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

::-webkit-datetime-edit-fields-wrapper,
::-webkit-datetime-edit-text,
::-webkit-datetime-edit-minute,
::-webkit-datetime-edit-hour-field,
::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-year-field {
  padding: 0;
}

::-webkit-inner-spin-button {
  height: auto;
}
::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-color-swatch-wrapper {
  padding: 0;
}

::-webkit-file-upload-button {
  font: inherit;
}

::file-selector-button {
  font: inherit;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

.container-xl {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 1200px) {
  .container-xl {
    max-width: 1140px;
  }
}
@media (min-width: 1500px) {
  .container-xl {
    max-width: 1440px;
  }
}
.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) * -.5);
  margin-left: calc(var(--bs-gutter-x) * -.5);
}
.row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * .5);
  padding-left: calc(var(--bs-gutter-x) * .5);
  margin-top: var(--bs-gutter-y);
}

.col-auto {
  flex: 0 0 auto;
  width: auto;
}
@media (min-width: 992px) {

  .col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
  }
}
@media (min-width: 1200px) {

  .col-xl-3 {
    flex: 0 0 auto;
    width: 25%;
  }
}
.dataTable-table {
  --bs-table-bg: transparent;
  --bs-table-accent-bg: transparent;
  --bs-table-striped-color: #69707a;
  --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
  --bs-table-active-color: #69707a;
  --bs-table-active-bg: rgba(0, 0, 0, 0.1);
  --bs-table-hover-color: #69707a;
  --bs-table-hover-bg: rgba(224, 229, 236, 0.25);
  width: 100%;
  margin-bottom: 1rem;
  color: #69707a;
  vertical-align: top;
  border-color: #e0e5ec;
}
.dataTable-table > :not(caption) > * > * {
  padding: 0.75rem 0.75rem;
  background-color: var(--bs-table-bg);
  border-bottom-width: 1px;
  box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}
.dataTable-table > tbody {
  vertical-align: inherit;
}
.dataTable-table > thead {
  vertical-align: bottom;
}
.dataTable-table > :not(:last-child) > :last-child > * {
  border-bottom-color: currentColor;
}

.dataTable-table > :not(caption) > * {
  border-width: 1px 0;
}
.dataTable-table > :not(caption) > * > * {
  border-width: 0 1px;
}

.dataTable-table > tbody > tr:hover {
  --bs-table-accent-bg: var(--bs-table-hover-bg);
  color: var(--bs-table-hover-color);
}

.dataTable-wrapper .dataTable-container {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
.form-control[type=file]:not(:disabled):not([readonly]), [type=file].dataTable-input:not(:disabled):not([readonly]) {
  cursor: pointer;
}
.form-control::file-selector-button, .dataTable-input::file-selector-button {
  padding: 0.875rem 1.125rem;
  margin: -0.875rem -1.125rem;
  -webkit-margin-end: 1.125rem;
          margin-inline-end: 1.125rem;
  color: #69707a;
  background-color: #fff;
  pointer-events: none;
  border-color: inherit;
  border-style: solid;
  border-width: 0;
  border-inline-end-width: 1px;
  border-radius: 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .form-control::file-selector-button, .dataTable-input::file-selector-button {
    transition: none;
  }
}
.form-control:hover:not(:disabled):not([readonly])::-webkit-file-upload-button, .dataTable-input:hover:not(:disabled):not([readonly])::-webkit-file-upload-button {
  background-color: #f2f2f2;
}
.form-control:hover:not(:disabled):not([readonly])::file-selector-button, .dataTable-input:hover:not(:disabled):not([readonly])::file-selector-button {
  background-color: #f2f2f2;
}
.form-control:hover:not(:disabled):not([readonly])::-webkit-file-upload-button, .dataTable-input:hover:not(:disabled):not([readonly])::-webkit-file-upload-button {
  background-color: #f2f2f2;
}
.form-control-sm::file-selector-button {
  padding: 0.5rem 0.75rem;
  margin: -0.5rem -0.75rem;
  -webkit-margin-end: 0.75rem;
          margin-inline-end: 0.75rem;
}
.form-control-lg::file-selector-button {
  padding: 1.125rem 1.5rem;
  margin: -1.125rem -1.5rem;
  -webkit-margin-end: 1.5rem;
          margin-inline-end: 1.5rem;
}
.form-control-color:not(:disabled):not([readonly]) {
  cursor: pointer;
}

.dataTable-selector {
  display: block;
  width: 100%;
  padding: 0.875rem 3.375rem 0.875rem 1.125rem;
  -moz-padding-start: calc(1.125rem - 3px);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1;
  color: #69707a;
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23363d47' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 1.125rem center;
  background-size: 16px 12px;
  border: 1px solid #c5ccd6;
  border-radius: 0.35rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
@media (prefers-reduced-motion: reduce) {
  .dataTable-selector {
    transition: none;
  }
}
.dataTable-selector:focus {
  border-color: transparent;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(0, 97, 242, 0.25);
}
.dataTable-selector:disabled {
  background-color: #e0e5ec;
}
.dataTable-selector:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #69707a;
}
.form-floating > .form-control:not(:-moz-placeholder-shown), .form-floating > .dataTable-input:not(:-moz-placeholder-shown) {
  padding-top: 1.625rem;
  padding-bottom: 0.625rem;
}
.form-floating > .form-control:not(:-ms-input-placeholder), .form-floating > .dataTable-input:not(:-ms-input-placeholder) {
  padding-top: 1.625rem;
  padding-bottom: 0.625rem;
}
.form-floating > .form-control:not(:-moz-placeholder-shown) ~ label, .form-floating > .dataTable-input:not(:-moz-placeholder-shown) ~ label {
  opacity: 0.65;
  transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem);
}
.form-floating > .form-control:not(:-ms-input-placeholder) ~ label, .form-floating > .dataTable-input:not(:-ms-input-placeholder) ~ label {
  opacity: 0.65;
  transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem);
}

.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1;
  color: #69707a;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.875rem 1.125rem;
  font-size: 0.875rem;
  border-radius: 0.35rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .btn {
    transition: none;
  }
}
.btn:hover {
  color: #69707a;
  text-decoration: none;
}
.btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(0, 97, 242, 0.25);
}
.btn:disabled {
  pointer-events: none;
  opacity: 0.65;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(33, 40, 50, 0.125);
  border-radius: 0.35rem;
}

.card-body {
  flex: 1 1 auto;
  padding: 1.35rem 1.35rem;
}

.card-header {
  padding: 1rem 1.35rem;
  margin-bottom: 0;
  background-color: rgba(33, 40, 50, 0.03);
  border-bottom: 1px solid rgba(33, 40, 50, 0.125);
}
.card-header:first-child {
  border-radius: 0.35rem 0.35rem 0 0;
}

.card-footer {
  padding: 1rem 1.35rem;
  background-color: rgba(33, 40, 50, 0.03);
  border-top: 1px solid rgba(33, 40, 50, 0.125);
}
.card-footer:last-child {
  border-radius: 0 0 0.35rem 0.35rem;
}

/* rtl:begin:ignore */

/* rtl:end:ignore */

/* rtl:options: {
  "autoRename": true,
  "stringMap":[ {
    "name"    : "prev-next",
    "search"  : "prev",
    "replace" : "next"
  } ]
} */

.visually-hidden-focusable:not(:focus):not(:focus-within) {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.stretched-link::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  content: "";
}

.d-flex {
  display: flex !important;
}

.h-100 {
  height: 100% !important;
}

.justify-content-between {
  justify-content: space-between !important;
}

.align-items-center {
  align-items: center !important;
}

.mt-4 {
  margin-top: 1.5rem !important;
}

.me-2 {
  margin-right: 0.5rem !important;
}

.me-3 {
  margin-right: 1rem !important;
}

.mb-4 {
  margin-bottom: 1.5rem !important;
}

.mt-n10 {
  margin-top: -6rem !important;
}

.px-4 {
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important;
}

.pt-4 {
  padding-top: 1.5rem !important;
}

.pb-10 {
  padding-bottom: 6rem !important;
}

.fw-bold {
  font-weight: 500 !important;
}

/* rtl:begin:remove */

/* rtl:end:remove */

.text-white {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-white-rgb), var(--bs-text-opacity)) !important;
}

.text-white-50 {
  --bs-text-opacity: 1;
  color: rgba(255, 255, 255, 0.5) !important;
}

.bg-primary {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-primary-rgb), var(--bs-bg-opacity)) !important;
}

.bg-success {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-success-rgb), var(--bs-bg-opacity)) !important;
}

.bg-warning {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-warning-rgb), var(--bs-bg-opacity)) !important;
}

.bg-danger {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-danger-rgb), var(--bs-bg-opacity)) !important;
}
html,
body {
  height: 100%;
}

body {
  overflow-x: hidden;
}

@font-face {
  font-family: "Metropolis";
  src: url("../assets/fonts/metropolis/Metropolis-Thin.otf");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Metropolis";
  src: url("../assets/fonts/metropolis/Metropolis-ThinItalic.otf");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "Metropolis";
  src: url("../assets/fonts/metropolis/Metropolis-ExtraLight.otf");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Metropolis";
  src: url("../assets/fonts/metropolis/Metropolis-ExtraLightItalic.otf");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "Metropolis";
  src: url("../assets/fonts/metropolis/Metropolis-Light.otf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Metropolis";
  src: url("../assets/fonts/metropolis/Metropolis-LightItalic.otf");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Metropolis";
  src: url("../assets/fonts/metropolis/Metropolis-Regular.otf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Metropolis";
  src: url("../assets/fonts/metropolis/Metropolis-RegularItalic.otf");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Metropolis";
  src: url("../assets/fonts/metropolis/Metropolis-Medium.otf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Metropolis";
  src: url("../assets/fonts/metropolis/Metropolis-MediumItalic.otf");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Metropolis";
  src: url("../assets/fonts/metropolis/Metropolis-SemiBold.otf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Metropolis";
  src: url("../assets/fonts/metropolis/Metropolis-SemiBoldItalic.otf");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Metropolis";
  src: url("../assets/fonts/metropolis/Metropolis-Bold.otf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Metropolis";
  src: url("../assets/fonts/metropolis/Metropolis-BoldItalic.otf");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Metropolis";
  src: url("../assets/fonts/metropolis/Metropolis-ExtraBold.otf");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Metropolis";
  src: url("../assets/fonts/metropolis/Metropolis-ExtraBoldItalic.otf");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "Metropolis";
  src: url("../assets/fonts/metropolis/Metropolis-Black.otf");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Metropolis";
  src: url("../assets/fonts/metropolis/Metropolis-BlackItalic.otf");
  font-weight: 800;
  font-style: italic;
}

.bg-gradient-primary-to-secondary {
  background-color: #0061f2 !important;
  background-image: linear-gradient(135deg, #0061f2 0%, rgba(105, 0, 199, 0.8) 100%) !important;
}


.text-lg {
  font-size: 1.25rem !important;
}

.feather-xl {
  height: 2.5rem !important;
  width: 2.5rem !important;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.btn-icon {
  padding: 0;
  justify-content: center;
  overflow: hidden;
  border-radius: 100%;
  flex-shrink: 0;
  height: calc((0.875rem * 1) + (0.875rem * 2) + (2px)) !important;
  width: calc((0.875rem * 1) + (0.875rem * 2) + (2px)) !important;
}
.btn-icon .feather {
  margin-top: 0 !important;
}

.btn .feather {
  margin-top: -1px;
  height: 0.875rem;
  width: 0.875rem;
}

.btn-transparent-dark {
  color: rgba(33, 40, 50, 0.5);
  background-color: transparent;
  border-color: transparent;
  color: rgba(33, 40, 50, 0.5) !important;
}
.btn-transparent-dark:hover {
  color: rgba(33, 40, 50, 0.5);
  background-color: rgba(33, 40, 50, 0.1);
  border-color: transparent;
}
.btn-transparent-dark:focus {
  color: rgba(33, 40, 50, 0.5);
  background-color: rgba(33, 40, 50, 0.1);
  border-color: transparent;
  box-shadow: 0 0 0 0.25rem rgba(11, 14, 17, 0.5);
}
.btn-transparent-dark:active {
  color: rgba(33, 40, 50, 0.5);
  background-color: rgba(33, 40, 50, 0.2);
  border-color: transparent;
}
.btn-transparent-dark:active:focus {
  box-shadow: 0 0 0 0.25rem rgba(11, 14, 17, 0.5);
}
.btn-transparent-dark:disabled {
  color: rgba(33, 40, 50, 0.35);
  background-color: rgba(33, 40, 50, 0.1);
  border-color: transparent;
}
.btn-transparent-dark:focus {
  box-shadow: 0 0 0 0.25rem rgba(33, 40, 50, 0.25) !important;
}

.card {
  box-shadow: 0 0.15rem 1.75rem 0 rgba(33, 40, 50, 0.15);
}
.card .card-header {
  font-weight: 500;
}
.card:not([class*=bg-]) .card-header {
  color: #0061f2;
}

.feather {
  height: 1rem;
  width: 1rem;
  vertical-align: top;
}

#layoutSidenav {
  display: flex;
}
#layoutSidenav #layoutSidenav_content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 0;
  flex-grow: 1;
  min-height: calc(100vh - 3.625rem);
  margin-left: -15rem;
}

@media (min-width: 992px) {
  #layoutSidenav #layoutSidenav_content {
    margin-left: 0;
    transition: margin 0.15s ease-in-out;
  }
}
@-moz-document url-prefix() {
}
@-moz-document url-prefix() {
}

:target:before {
  content: "";
  display: block;
  height: 5.125rem;
  margin: -5.125rem 0 0;
}

.page-header .page-header-content {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.page-header .page-header-content .page-header-title {
  line-height: normal;
  font-size: 2.25rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

.page-header.page-header-dark {
  color: rgba(255, 255, 255, 0.5);
}
.page-header.page-header-dark .page-header-title {
  color: #fff;
}

:root {
  --litepicker-month-header-color: #4a515b;
  --litepicker-button-prev-month-color: #69707a;
  --litepicker-button-next-month-color: #69707a;
  --litepicker-button-prev-month-color-hover: #212832;
  --litepicker-button-next-month-color-hover: #212832;
  --litepicker-month-weekday-color: #69707a;
  --litepicker-month-week-number-color: #69707a;
  --litepicker-day-width: 34px;
  --litepicker-day-color: #363d47;
  --litepicker-day-color-hover: #0061f2;
  --litepicker-is-today-color: #69707a;
  --litepicker-is-in-range-color: rgba(0, 97, 242, 0.15);
  --litepicker-is-start-color: #fff;
  --litepicker-is-start-color-bg: #0061f2;
  --litepicker-is-end-color: #fff;
  --litepicker-is-end-color-bg: #0061f2;
  --litepicker-button-apply-color-bg: #0061f2;
  --litepicker-button-reset-color-hover: #0061f2;
  --litepicker-highlighted-day-color: #363d47;
  --litepicker-highlighted-day-color-bg: rgba(0, 97, 242, 0.15);
}

.dataTable-wrapper .dataTable-container {
  font-size: 0.875rem;
}

.dataTable-wrapper.no-footer .dataTable-container {
  border-bottom: none;
}

.dataTable-top {
  padding: 0 0 1rem;
}

.dataTable-top > div:first-child {
  float: left;
}

.dataTable-top > div:last-child {
  float: right;
}

.dataTable-selector {
  width: auto;
  display: inline-block;
  padding-left: 1.125rem;
  padding-right: 2.125rem;
  margin-right: 0.25rem;
}

.dataTable-info {
  margin: 7px 0;
}

/* PAGER */

/* TABLE */
.dataTable-table {
  border-collapse: collapse;
}

.dataTable-table > tbody > tr > td,
.dataTable-table > thead > tr > th {
  vertical-align: top;
  padding: 0.75rem 0.75rem;
}

.dataTable-table > thead > tr > th {
  vertical-align: bottom;
  text-align: left;
  border-bottom: none;
}

.dataTable-table th {
  vertical-align: bottom;
  text-align: left;
}

.dataTable-table th a {
  text-decoration: none;
  color: inherit;
}

.dataTable-sorter {
  display: inline-block;
  height: 100%;
  position: relative;
  width: 100%;
  padding-right: 1rem;
}

.dataTable-sorter::before {
  bottom: 4px;
}

.dataTable-sorter::after {
  top: 0px;
}

.dataTable-top::after{
  clear: both;
  content: " ";
  display: table;
}

.btn-datatable {
  height: 20px !important;
  width: 20px !important;
  font-size: 0.75rem;
  border-radius: 0.35rem !important;
}
  
  
.admin__header{
    height: 60px;
    display: flex;
    align-items: center;
}
.admin__header_link{
    width: 40px;
    display: block;
}
.admin__header_top_link{
	color: var(--white) !important;
}
.admin__header_top_link:hover{
	text-decoration: none;
}
.admin__header_logo{
    width: 100%;
    display: block;
}
.admin__menu_icon{
    width: 50px;
    filter: opacity(0.6);
}
.menu__item_title{
    font-size: 20px;
}
.pagination__panel{
    display: flex;
    justify-content: space-between;
	align-items: center;
}
.admin__items{
    margin-top: -107px;
}
.admin__menu_icon_overview{
    overflow: hidden;
    height: 54px;
}
.admin__header_top{
  	background-color: #46484A;
}
.admin__item_bg{
  	background-color: var(--green);
}
.card-header{
  	color: #46484A !important;
}
.page-link{
  	color: var(--green);
}
.page-item.active .page-link{
	background-color: var(--green);
  	border-color: var(--green);
}
.page-link:hover{
  	color: var(--green);
}
.item__panel_cont{
	display: flex;
}
.item__panel_link{
	display: block;
}
.item__panel_link:first-child{
	margin-right: 10px;
}
.item__btn{
	background-color: var(--green);
	color: var(--white);
	height: 42px;
	font-size: 20px;
	padding: 0px 22px;
	border: none;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	transition: background-color ease .3s;
	-webkit-transition: background-color ease .3s;
	-moz-transition: background-color ease .3s;
	-ms-transition: background-color ease .3s;
	-o-transition: background-color ease .3s;
}
.item__btn:hover{
	background-color: var(--green-hover);
}
.item__recycle_btn{
	background-color: var(--danger);
}
.item__recycle_btn:hover{
	background-color: var(--danger-hover);
}

.admin__form_inp{
    display: block;
    width: 100%;
    color: #212529;
    background-color: var(--white);
    padding: 6px 10px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
	margin-bottom: 20px;
    border: 1px solid #ced4da;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.admin__form_file{
    visibility: hidden;
    display: none;
}